.menu {
    background-color: #f3e5e5;
    padding: 20px;
  }
  
  .main-screen {
    padding: 20px;
  }
  
  .footer {
    background-color: #333;
    border: 1px solid red;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  .navbar-nav{
    display: flex;
  }